accelerate
huggingface-hub
transformers
safetensors
invisible_watermark 
requests
einops
gradio
diffusers
soundfile
datasets
sentencepiece
controlnet_aux
safetensors
werkzeug
mediapipe
openai
peft
mediapipe

Flask
Flask-Login
flask-cors
passlib
werkzeug